.Hero {
    background-color: white !important;
    height: 3.9rem !important;
    .user-link .signup {
        background-color: $clr1;
    }
    .logo-container{
    img {
        height: 25px !important;
        width: 25px !important;
    }
    h3{
        font-size: 2rem !important;
    }
    } 
}

.homeBgc {
    background-color: $clr1  !important;
}

.homeTxtClr {
    color: $clr2  !important
}

.logoHero {
    color: $clr2  !important
}

.app-header {
    height: 45px;
    z-index: 30;
    background-color: transparentize($color: $clr5, $amount: .8);
    position: absolute;
    top: 0;
    color: $clr2;
    // height: rem(32px);
    width: 100%;
    // padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow, .25s;

    .header-link {
        margin: 0;
        color: $clr2;
    }

    .Hero {
        background-color: transparent;
    }

    .user-link {
        cursor: pointer;
        -webkit-box-align: stretch;
        align-items: stretch;
        display: flex;
        margin-left: auto;

        span {
            color: $clr2;
            font-weight: 500;
        }

        .login {
            color: darken($color: $clr2, $amount: 45%);
            padding: 1rem 1.7rem;
        }

        .signup {
            padding: 1rem 2rem;
            transition: background-color, 0.15s;
        }

        .signup:hover {
            background-color: darken($color: $clr1, $amount: 8%)
        }
    }

    .logo-container {
        align-items: center;
        display: flex;
        margin-inline-start: 5px;

        &:hover {
            cursor: pointer;
        }

        h3 {
            line-height: normal;
            font-family: Secular, sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            margin: 0;
            color: $clr5;
        }

        img {
            height: 23px;
            margin: 0 10px;
            width: 23px;
        }
    }

    .user-img{
        height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-inline-end: 15px;
    img{
        border-radius: 50%;
    }
    }
}

.Hero:hover{
    box-shadow: 0 0.2px 5px 0px rgb(99, 93, 93);
}