.board-header {
    align-items: center;

    h1 {
        margin: 0;
        margin-inline-start: 25px;
    }

    .vr {
        margin: 9px 15px;
        color: $clr2;
    }
}

.white {
    color: $clr2;
}