.checklist {
    margin-top: 15px;

    .checklist-icon {
        margin: 0 12px 0px 0px;
        padding: 8px 0;
        height: 36px;
        line-height: 32px;
        width: 20px;
    }

    .cl-header {
        color: darken($color: $clr2, $amount: 45%);
        align-items: center;
        justify-content: flex-start
    }
}

.add-todo {
    background-color: #eaecf0;
    border-style: none;
    padding: 7px;
    margin-inline-start: 2.2rem;
    margin-block-start: 0.55rem;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    width: rem(146px);
    &:hover{
        background-color: rgba(9, 30, 66, 0.0784313725);
        border: none;
        box-shadow: none;
    }
}

.add-input {
    input {
        margin: 5px 0 8px 35px;
        border-radius: 5px;
        outline: 0;
        background-color: #fff;
        border-color:  #0079bf;
        width: 63%;
        height: 3vh;
    }

   
    
    div {
        display: flex;
        margin-inline-start: 35px;
    }

    button {
        margin-right: 5px;
        background-color: $clr3;
        border-style: none;
        color: $clr2;
        padding: 7px 12px;
        transition: background-color, .25s;
        width: 95px;
        height: 35px;
        border-radius: 3px;
    }

    span {
        padding: 7px 12px;
    }

    span:hover {
        background-color: darken($color: $clr2, $amount: 5%);
        border-radius: 5px;
    }
}
.delete-modal {
    padding: 5px;
    display: flex;
    text-align: center;
    background-color: white;
    position: fixed;
    flex-direction: column;
    box-shadow: 0 0 5.5px grey;
    right: 120px;
    right: 229px;
    bottom: 10rem;
    p {
        margin: 0;
    }

}

.checklist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 35px;

    img {
        visibility: hidden;
        width: fit-content;
        position: relative;
        margin-left: 153px;
        cursor: pointer;
    }


    .input-checklist {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            height: 5ch;
            border-style: 1px solid darken($color: $clr2, $amount: 25%);
            border-radius: 3px;
            background-color: darken($color: $clr2, $amount: 10%);
        }

        div {
            margin-top: 5px;
            display: flex
        }

        button {
            background-color: $clr3;
            border-style: none;
            color: $clr2;
            padding: 7px 12px;
            transition: background-color, .25s;
        }

        button:hover {
            background-color: lighten($color: $clr3, $amount: 5%);

        }

        .x {
            padding-left: 5px;
        }
    }

    .input-checklist:hover {
        background-color: #d5d5d5;
    }

}

.checklist-item:hover {
    background-color: darken($color: $clr2, $amount: 15%);

    img {
        visibility: visible;
    }
}