.dynamic-modal {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    position: absolute;
    right: 3%;
    top: 25%;
    width: 280px;
    z-index: 70;
    &.is-shown {
        display: block;
    }
    .main-labels {
        margin-block-start: 5px;
        span {
            font-size: 13px;
        }
    }
}