.group-preview {
    // width: 272px;
    // background-color: darken($color: $clr2, $amount: 3%);
    // padding: 5px 8px;
    // margin-block-start: 15px;
    // border-radius: 5px;
    // height: 100%;
    // padding-block-end: 10px;
    margin-block-start: 15px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 132px);
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    margin-left: 8px;
    padding-bottom: 8px;
    box-shadow: 1px 7px 5px -4px #00000026;
    padding: 8px;
    .task-list-container {
        display: flex;
        flex-direction: column;
    }
    .header-container {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        h3 {
            width: 217px;
            height: 15px;
            margin-inline-start: 7px;
        }
        .group-header {
            color: darken($color: $clr2, $amount: 60%);
            font-size: 14px;
            padding-top: 7px;
        }
        button {
            border-radius: 2px;
            cursor: pointer;
            border-style: none;
            background-color: darken($color: $clr2, $amount: 3%);
            transition: background-color, .25s;
        }
        button:hover {
            background-color: darken($color: $clr2, $amount: 10%);
        }
    }
    .task-preview {
        cursor: pointer;
        background-color: #fff;
        margin: 0 4px 8px 8px;
        border-radius: 3px;
        box-shadow: 0 1px #091e4240;
        line-height: 20px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        .labels-task-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-inline-start: 6px;
            .label-task-preview {
                min-height: 8px;
                min-width: 40px;
                border-radius: 25px;
                margin-block-start: 6px;
                span {
                    color: white;
                    font-size: 12px;
                }
            }
        }
        .members-task-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: flex-end;
            margin-inline-start: 6px;
            .member-task-preview {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin-block-start: 6px;
            }
        }
        h5 {
            color: darken($color: $clr2, $amount: 55%);
            font-weight: 400;
            padding: 7px;
        }
    }
    .task-preview:hover {
        background-color: darken($color: $clr2, $amount: 5%);
    }
    .group-footer {
        cursor: pointer;
        margin-left: 8px;
        margin-right: 8px;
        padding: 4px 3px 2px;
        display: flex;
        color: #5e6c84;
        font-size: 15px;
        // margin-inline: 5px;
        // transition: background-color, 0.25s;
        // border-radius: 3px;
        // display: flex;
        // color: #5e6c84;
        .btn-save {
            font-size: 20px;
            border-style: none;
        }
    }
    .group-footer:hover {
        background-color: darken($color: $clr2, $amount: 10%);
    }
}