.group-preview {
    margin-block-start: 15px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 132px);
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    margin-left: 8px;
    padding-bottom: 8px;
    box-shadow: 1px 7px 5px -4px #00000026;
    padding: 8px;
    .task-list-container {
        display: flex;
        flex-direction: column;
    }
    .header-container {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        h3 {
            width: 217px;
            height: 15px;
            font-size: 15px;
            margin-bottom: 0px;
            // margin-inline-start: 7px;
            font-weight: 500;
            position: relative;
            bottom: 0.5rem;
        }
        .group-header {
            color: darken($color: $clr2, $amount: 60%);
            font-size: 14px;
            padding: 12px 5px 4px 6px;
            .group-title{
                color: #42526e;
                background: rgba(0, 0, 0, 0);
                border-style: none;
                box-shadow: none;
                /* font-size: 20px; */
                font-weight: 500;
                height: 32px;
                line-height: 24px;
                margin: 0px -8px;
                min-height: 24px;
                padding: 4px 8px;
                width: 100%;
                position: relative;
                padding-inline-start: 1rem;
                right: 15px;
            }
        }
        button {
            border-radius: 2px;
            cursor: pointer;
            border-style: none;
            background-color: darken($color: $clr2, $amount: 3%);
            transition: background-color, .25s;
            padding-bottom: 7px;
        }
        button:hover {
            background-color: darken($color: $clr2, $amount: 10%);
        }
    }
    .task-preview {
        cursor: pointer;
        width: 256px;
        background-color: #fff;
        margin: 2px 4px 8px 0px;
        border-radius: 3px;
        box-shadow: 0 1px #091e4240;
        line-height: 20px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        .labels-task-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-inline-start: 6px;
            .label-task-preview {
                min-height: 8px;
                min-width: 40px;
                border-radius: 25px;
                margin-block-start: 6px;
                span {
                    color: white;
                    font-size: 12px;
                }
            }
        }
        .members-task-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: flex-end;
            margin-inline-start: 6px;
            .member-task-preview {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                position: relative;
                bottom: 10px;
                right: 10px;
                margin-right: 4px;
            }
        }
        h5 {
            color: darken($color: $clr2, $amount: 55%);
            font-weight: 400;
            padding: 6px 0px 2px 5px;
        }
    }
    .task-preview:hover {
        background-color: darken($color: $clr2, $amount: 5%);
    }
    .group-footer {
        cursor: pointer;
        padding: 4px 3px 2px;
        display: flex;
        color: #5e6c84;
        font-size: 15px;
        .btn-save {
            cursor: pointer;
            font-size: 15px;
            border-style: none;
            background-color: $clr1;
            text-align: inherit;
            width: 80px;
            border-radius: 3px;
            color: white;
            padding: 7px 4px;
            margin: 8px 1px;
            text-align: center;
        }
        .btn-exit{
            border-style: none;
            font-size: 20px;
            margin-left: 5px;
            background-color: transparent;
        }
        form {
            display: flex;
            flex-direction: column;
        }
    }
    input#outlined-basic {
        width: 250px;
        padding: 7px 0px 37px 5px;
        background-color: #fff;
        box-shadow:0px 1px 0px rgb(9 30 66 / 25%);
        line-height: 20px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
    }
}