.group-preview {
    margin-block-start: 15px;
    display: flex;
    height: 100%;
    max-height: 85vh;
    flex-direction: column;
    width: 272px;
    background-color: #ebecf0;
    border-radius: 3px;
    margin-left: 8px;
    padding-bottom: 8px;
    box-shadow: 1px 7px 5px -4px #00000026;
    padding: 8px 1px 8px 8px;
    .task-list-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 78vh;
        &::-webkit-scrollbar {
            // height: 1px;
            color: #5e6c84;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(139 139 139 / 32%);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track-piece {
            background-color: rgb(30 30 30 / 15%);
            border-radius: 10px;
        }
    }
    .header-container {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        h3 {
            width: 217px;
            height: 15px;
            font-size: 15px;
            margin-bottom: 0px;
            // margin-inline-start: 7px;
            font-weight: 500;
            position: relative;
            bottom: 0.5rem;
        }
        .group-header {
            color: darken($color: $clr2, $amount: 60%);
            font-size: 14px;
            padding: 12px 5px 4px 6px;
        }
        button {
            border-radius: 2px;
            cursor: pointer;
            border-style: none;
            background-color: darken($color: $clr2, $amount: 3%);
            transition: background-color, .25s;
            padding-top: 3px;
            padding-bottom: 7px;
        }
        button:hover {
            background-color: darken($color: $clr2, $amount: 10%);
        }
    }
    .task-preview {
        cursor: pointer;
        width: 256px;
        background-color: #fff;
        margin: 2px 4px 8px 0px;
        border-radius: 3px;
        box-shadow: 0 1px #091e4240;
        line-height: 20px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;
        .labels-task-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-inline-start: 6px;
            .label-task-preview {
                min-height: 8px;
                min-width: 40px;
                border-radius: 10px;
                margin-block-start: 6px;
                span {
                    color: white;
                    font-size: 12px;
                    padding: 3px 15px;
                    color: white;
                    font-size: 12px;
                }
            }
        }
        .members-task-preview {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: flex-end;
            margin: 5px 10px;
            position: relative;
            bottom: 10px;

            .member-task-preview {
                height: 28px;
                width: 28px;

                img {
                    border-radius: 50%;
                }
            }
        }
        &-title {
            min-height: 45px;
        }
        h5 {
            color: darken($color: $clr2, $amount: 55%);
            font-weight: 400;
            padding: 6px 0px 2px 5px;
        }
    }
    .task-preview:hover {
        background-color: darken($color: $clr2, $amount: 5%);
    }
    .group-footer {
        cursor: pointer;
        padding: 4px 3px 2px;
        display: flex;
        color: #5e6c84;
        font-size: 15px;
        .btn-save {
            cursor: pointer;
            font-size: 15px;
            border-style: none;
            background-color: $clr1;
            text-align: inherit;
            width: 80px;
            border-radius: 3px;
            color: white;
            padding: 7px 4px;
            margin: 8px 1px;
            text-align: center;
        }
        span.btn-exit {
            width: 14px;
            border-style: none;
            font-size: 20px;
            position: relative;
            margin-left: 10px;
            background-color: transparent;
            top: 8px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
    }
    .add-task {
        display: flex;
        align-items: center;
        gap: 1px;
        .plus-task {
            width: 16px;
            height: 21px;
            &-title {
                font-size: 14px;
                margin-left: 2px;
            }
        }
        .plus-task svg {
            width: 16px;
        }
    }
}

input#outlined-basic {
    width: 250px;
    padding: 7px 0px 37px 5px;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgb(9 30 66 / 25%);
    line-height: 20px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
}

input.group-title {
    color: #42526e;
    background: rgba(0, 0, 0, 0);
    border-style: none;
    box-shadow: none;
    font-size: 15px;
    position: relative;
    bottom: 2px;
    font-weight: 600;
    height: 32px;
}

section.main-preview {
    .previews{
        margin-top: 14px;
        height: 30px;
    }
    >div.functions-previews.flex-space-between {
        padding: 2px 4px 9px 3px;
        >section.icon-previews {
            flex: 1;
            padding-top: 3px;
        }
    }
}

.icon-previews {
    margin-left: 5px;
    .icon-preview,
    svg {
        height: 14px !important;
        width: 14px;
        margin: 3px;
    }
}