.task-members {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    position: absolute;
    right: 3%;
    top: 25%;
    width: 280px;
    z-index: 70;

    .main-members {
        margin-block-start: 5px;

        span {
            font-size: 13px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            gap: 10px;
            cursor: pointer;
            text-align: match-parent;
            font-size: 13px;
            height: 55px;
            align-items: center;
            order: 1;

            &:hover {}

            border-bottom: 0.5px solid rgba(216, 213, 213, 0.463);

            .card-member {
                display: block;
                height: 40px;
                line-height: 40px;
                margin-bottom: 2px;
                overflow: hidden;
                padding: 5px;
                position: relative;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #172b4d;
            }
        }
    }

    header {
        border-bottom: 1px solid rgba(9, 30, 66, 0.1294117647);
        box-sizing: border-box;
        color: #5e6c84;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        width: 100%;
        overflow: hidden;
        padding: 0 0 4px;
        white-space: nowrap;
        z-index: 1;
        text-align: center;

        .close-members {
            border: none;
            background-color: transparent;
            color: #6b778c;

            &:hover {
                cursor: pointer;
            }

            span svg {
                width: 10px;
            }
        }
    }

    .member-img {
        height: 30px;
        width: 40px;

        img {
            border-radius: 50%;
        }
    }

    h2 {
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 10px 0px;
        flex: 1;
    }
}