.task-details-overlay {
    align-items: flex-start;
    background-color: #000000a3;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    &.overlay-up {
        display: flex;
    }
}

.screen {
    align-items: flex-start;
    background-color: #000000a3;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    &.overlay-up {
        display: flex;
    }
}

.task-header{
    display: flex;
    gap: 15px;
    .members{
        margin-block-start: 10px;
        p{
        margin: 0;
        font-size: small;
      }
    .main-members{
        display: flex;
        .member-icon{
            width: 30px;
            height: 30px;
            margin-block-end: 10px;
            display: flex;
            gap: 5px;
            image{
                width: 100%;
            }
        }
        .add-member{
            text-align: start ;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: #5e6c84;
            
        }
    }
  }
    .labels-section{
        p{
            font-size: 15px;
            margin: 0;
        }
        .labels-list{
            display: flex;
            gap: 2px;
            .label-task{
                padding: 0 10px ;
                // height: 20px;
                // width: 20px;
                border-radius: 5px;
                span{
                    color: white;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
    }

}

.task-details {
    background-color: #f4f5f7;
    border-radius: 2px;
    display: none;
    margin: 48px 0 80px;
    overflow: hidden;
    position: relative;
    width: 768px;
    z-index: 25;
    .details-main-col {
        flex-direction: column;
    }
}

textarea#description {
    font-family: Roboto, sans-serif;
    border-style: none;
    background-color: #f4f5f7;
    text-shadow: 0 0 0.5px;
    resize: none;
    &:focus {
        border-radius: 5px;
        outline: 0;
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }
}

.main-add-actions {
    div {
        margin-top: 7px;
        padding: 3px 10px 3px 3px;
        border-radius: 3px;
        background-color: #091e420a;
    }
}

.details-container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    margin: 10px 30px;
    .details-contents {
        padding-top: 15px;
        justify-content: space-between;
    }
    .close-details-btn {
        border-style: none;
        background-color: #f4f5f7;
        color: #42526e;
        height: 32px;
        margin: 4px;
        overflow: hidden;
        padding: 4px;
        position: absolute;
        right: 0;
        top: 0;
        transition: background-color 85ms, color 85ms;
        width: 32px;
        z-index: 2;
        transition: background-color, .25s;
    }
    .close-details-btn:hover {
        background-color: darken($color: $clr2, $amount: 10%);
    }
    .details-desc {
        display: flex;
        flex-direction: column;
    }
    .desc-container {
        form {
            display: flex;
            flex-direction: column;
            input {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                width: rem(65px);
                padding: rem(10px);
            }
        }
    }
}

.details-header.flex {
    justify-content: space-between;
    .details-title {
        background: #0000;
        border-style: none;
        box-shadow: none;
        font-size: 20px;
        font-weight: 600;
        height: 32px;
        line-height: 24px;
        margin: -4px -8px;
        min-height: 24px;
        padding: 4px 8px;
        resize: none;
        overflow: hidden;
        h3 {
            margin: rem(-4px) rem(-8px);
            padding: rem(4px) rem(8px);
        }
    }
}

.task-list {
    flex-grow: 1;
    min-height: 75px;
}

.sidebar-btn {
    width: 180px;
    font-size: 15px;
    cursor: pointer;
    &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
    }
}

.checklist {
    margin-top: 15px;
}

.checklist-item {
    display: flex;
    align-items: center;
    img {
        visibility: hidden;
        width: fit-content;
        position: relative;
        margin-left: 153px;
        cursor: pointer;
    }
    .delete-modal {
        text-align: center;
        background-color: white;
        height: 100px;
        position: fixed;
        width: 230px;
        will-change: top, left;
        top: 430px;
        left: 250px;
        p {
            margin: 0;
        }
    }
}

.checklist-item:hover {
    background-color: darken($color: $clr2, $amount: 15%);
    img {
        visibility: visible;
    }
}