.task-details-overlay {
    width: 768px;
    background-color: #f4f5f7;
    min-height: 900px;
    z-index: 15;
    border-radius: 2px;
    padding: 20px 15px 30px 60px;
    color: #172b4d;
    margin: 48px auto;
    overflow: visible;
    // align-items: flex-start;
    // background-color: #000000a3;
    // display: none;
    // height: 100%;
    // justify-content: center;
    // left: 0;
    // overflow-y: auto;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 20;
    // &.overlay-up {
    //     display: flex;
    // }
}

.screen {
    align-items: flex-start;
    background-color: #000000a3;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    &.overlay-up {
        display: flex;
    }
}

.task-header {
    p {
        font-size: small;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 25px;
    align-items: center;
    .members {
        margin-block-start: 10px;
        .main-members {
            display: flex;
            .member-task {
                width: 30px;
                height: 30px;
                margin-block-end: 10px;
                display: flex;
                gap: 5px;
                .member-img {
                    width: 100%;
                }
            }
            .add-member {
                cursor: pointer;
                left: 0;
                font-weight: 800;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                text-align: center;
                border-radius: 50%;
                border: none;
                background-color: #091e420a;
                >span {
                    width: 14px;
                    display: flex;
                }
            }
        }
    }
    .labels-section {
        .labels-list {
            display: flex;
            gap: 2px;
            .label-task {
                padding: 0px 5px;
                border-radius: 5px;
                span {
                    color: white;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
        .add-label{
            width: 14px;
            height: 14px;
            box-sizing: border-box;
            cursor: pointer;
            margin-left: 10px;
            span{
                background-color: rgba(9, 30, 66, 0.0392156863);
                border-radius: 50%;
                padding: 5px 10px;
            }
            //  :last-child {
            //     width: 14px;
            //     background-color: #091e420a;
            //     border: none;
            //     border-radius: 3px;
            //     box-shadow: none;
            //     cursor: pointer;
            //     display: block;
            //     float: left;
            //     margin: 0 8px 8px 0;
            //     transition-duration: 85ms;
            //     transition-property: background-color, border-color, box-shadow;
            //     transition-timing-function: ease;
            // }
        }
    }
    .show-date {
        .date {
            display: flex;
            font-size: 1rem;
        }
    }
}

.task-details {
    color: #42526e;
    background-color: #f4f5f7;
    border-radius: 2px;
    display: none;
    margin: 48px 0 80px;
    overflow: hidden;
    position: relative;
    max-width: 768px;
    max-height: 100vh;
    width: 100%;
    z-index: 25;
    .details-main-col {
        flex-direction: column;
        width: 100%;
        padding-right: 15px;
    }
}

textarea#description {
    border: none;
    font-family: Roboto, sans-serif;
    border-style: none;
    background-color: #f4f5f7;
    text-shadow: 0 0 0.5px;
    resize: none;
    padding: 8px 12px;
    &:focus {
        border-radius: 3px;
        outline: 0;
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
        padding: 8px 12px;
    }
}

.desc-send-btn {
    background-color: #0079bf;
    border: none;
    color: #fff;
    width: 53px;
    margin: 5px 0 0;
}

.main-add-actions {
    div {
        width: 170px;
        margin-top: 7px;
        padding: 3px 10px 3px 6px;
        border-radius: 3px;
        background-color: #091e420a;
    }
}

.description {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-inline-start: 2.8rem;
}

.edit-description {
    margin-inline-start: 2.2rem;
    margin-block-start: 1rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    margin: 9px 0px 10px 19px;
    .details-contents {
        padding-top: 15px;
        justify-content: space-between;
    }
    .close-details-btn.btn-cover {
        background-color: rgba(155, 155, 155, 0.51);
        border-radius: 50%;
    }
    .close-details-btn {
        border-style: none;
        background-color: #f4f5f7;
        color: #42526e;
        height: 32px;
        margin: 4px;
        overflow: hidden;
        padding: 4px;
        position: absolute;
        right: 0;
        top: 0;
        transition: background-color 85ms, color 85ms;
        width: 32px;
        z-index: 2;
        transition: background-color, .25s;
    }
    .close-details-btn:hover {
        background-color: darken($color: $clr2, $amount: 10%);
    }
    .details-desc {
        display: flex;
        flex-direction: column;
    }
    .desc-container {
        form {
            display: flex;
            flex-direction: column;
            input {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                width: rem(65px);
                padding: rem(10px);
            }
        }
    }
}

.details-header.flex {
    color: #42526e;
    >form {
        display: flex;
        width: 90%;
        margin-inline-start: 7px;
    }
    .task-title-icon {
        height: 25px;
        width: 25px;
    }
    .details-title {
        color: #42526e;
        background: #0000;
        border-style: none;
        box-shadow: none;
        font-size: 17px;
        font-weight: 600;
        flex: 1;
        height: 32px;
        line-height: 24px;
        margin: -4px -8px;
        min-height: 24px;
        padding: 4px 8px;
        width: 100%;
        padding-inline-start: 1rem;
        h3 {
            margin: rem(-4px) rem(-8px);
            padding: rem(4px) rem(8px);
        }
        &:focus {
            border-radius: 5px;
            outline: 0;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }
}

.task-list {
    flex-grow: 1;
    // min-height: 75px;
}

.sidebar-btn {
    width: 180px;
    font-size: 15px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
    }
    .sidebar-icon.svg-icon {
        height: auto;
    }
    .sidebar-icon.dates-icon {
        >svg {}
    }
}

section.details-sidebar>div.main-add-actions {
    padding-right: 15px;
}

section.details-sidebar>div>div:nth-child(6)>span {
    gap: 10px;
    >svg {
        align-self: center;
    }
}

.sidebar-icon {
    display: inline-block;
    font-style: normal;
    margin-top: 0.5px;
    height: 12px;
    width: 12px;
    background-color: transparent;
    background-size: contain;
    text-align: center;
    &.members {
        background-image: url('../../icon/member-icon.svg');
    }
    &.attachment-icon {
        background-image: url('../../icon/attachment-icon.png');
    }
    &.checklist-icon {
        background-image: url('../../icon/checklist-icon.png');
    }
    &.cover-icon {
        background-image: url('../../icon/task-title-icon.svg');
    }
}