@media screen and (max-width: 1224px) {
    .hero .hero-container .hero-h1 {


        height: 7ch;

    }
}


@media screen and (max-width: 780px) {
    .hero .hero-img-container {
        display: none;
    }

    .hero-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px
    }
}


@media screen and (min-width: 1350px) {
    .home-page .board-list-container{
        height: 100vh;
    }
}

@media screen and (max-width: 490px) {
    .hero-container {
        position: relative;
        top: 3rem;
        display: flex;
        flex-direction: column;

        .hero-p {
            margin-top: 130px;
        }
    }
}

@media screen and (max-height: 960px) {

    .hero .hero-img {
        position: relative;
        height: 100%;
        top: 5rem;
    }

}

@media screen and (max-height: 716px) {
    .hero {
        position: relative;
        top: 5rem;
    }

}