

.board-app {
    padding-top: 40px;
    background-size: cover;
    height: 100vh;
    // display: flex;
    gap: 5px;
    left: 0;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    // padding-bottom: 8px;
    position: absolute;
    right: 0;
    // top: 0;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    // background: url('../../img/background-fall.jpg');
    background-size: cover;

    .main-board {
        display: flex;
    }

    .board-name {
        justify-content: space-between;
        align-items: center;
        margin-block-start: 15px;

        .show-menu-btn {
            margin-right: 5px;
            align-items: center;
            background-color: hsla(0, 0%, 100%, .239);
            border-radius: 3px;
            color: #fff;
            display: flex;
            height: 30px;
            justify-content: center;
            padding: 5px;
            text-decoration: none;
            width: fit-content;
        }
    }

    .add-group {
        padding: 16px 4px;
        width: 272px;


        form {
            display: grid;
            grid-template: 1fr 1fr/2fr 1fr;
            gap: 5px;


        }
    }

    .add-group-field {
        color: dimgray;
        text-shadow: 0 0 0.5px;
        font-size: rem(16px);
    }

    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        grid-column: 1/3;
    }

    .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
        &:focus {
            border-radius: 5px;
            outline: 0;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
        }

        height: 20px;
        background-color: #fff;
    }

    .save-group-btn {
        grid-row: 2;
        grid-column: 1/2;
        background-color: $clr1;
        color: #fff;
        border: none;
    }

    .back-to-board-btn {
        grid-row: 2;
        grid-column: 2;
        border: none;
    }

    .add-group-btn {
        margin-inline-start: 15px;
        padding: 6px 8px;
        width: 250px;
        height: fit-content;
        display: flex;
        align-items: center;
        border-style: none;
        color: $clr2;
        background-color: transparentize($color: $clr5, $amount: 0.75);
        border-radius: 2px;
        transition: background-color, 0.25s;
        text-shadow: 0 0 0.3px;

        .plus {
            font-size: 18px;
            padding-right: 5px;
        }
    }

    .add-group-btn:hover {
        background-color: transparentize($color: lighten($color: $clr5, $amount: 20%), $amount: 0.75);
    }
}
.board-preview{
        text-shadow: 1px 1px black;
}