.board-app {
    padding-top: 40px;
    background-size: cover !important;
    height: 100vh;
    // display: flex;
    gap: 5px;
    left: 0;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    // padding-bottom: 8px;
    position: absolute;
    right: 0;
    // top: 0;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    // background: url('../../img/background-fall.jpg');
    background-size: cover;
    .main-board {
        display: flex;
    }
    .board-name {
        justify-content: space-between;
        align-items: center;
        margin-block-start: 15px;
        .show-menu-btn {
            position: fixed;
            right: 5px;
            padding: 8px;
            background-color: #0000001a;
            border-radius: 3px;
            box-shadow: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background-color: #5b5b5b3d;
            align-items: flex-start;
            &:hover {
                background-color: transparentize($color: lighten($color: $clr5, $amount: 20%), $amount: 0.75);
            }
            // margin-right: 5px;
            // align-items: center;
            // background-color: hsla(0, 0%, 100%, .239);
            // border-radius: 3px;
            // color: #fff;
            // display: flex;
            // height: 30px;
            // justify-content: center;
            // padding: 5px;
            // text-decoration: none;
            // width: fit-content;
        }
    }
    .add-group {
        margin-block-start: 16px;
        background-color: #5b5b5b3d;
        ;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        color: #fff;
        width: fit-content;
        display: inline-flex;
        padding: 10px;
        // background-color: #00000014;
        margin-left: 10px;
        height: 30px;
        min-width: 272px;
        max-width: 272px;
        justify-content: flex-start;
        align-items: center;
        line-height: 20px;
        height: 100%;
        // background-color: #ffffff3d;
        font-weight: 400;
        &:hover {
            background-color: transparentize($color: lighten($color: $clr5, $amount: 20%), $amount: 0.75);
        }
        // padding: 16px 4px;
        // width: 272px;
        form {
            display: grid;
            grid-template: 1fr 1fr/2fr 1fr;
            gap: 5px;
        }
    }
    .add-group-field {
        color: dimgray;
        text-shadow: 0 0 0.5px;
        font-size: rem(16px);
    }
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        grid-column: 1/3;
    }
    .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
        &:focus {
            border-radius: 5px;
            outline: 0;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
        }
        height: 20px;
        background-color: #fff;
    }
    .save-group-btn {
        grid-row: 2;
        grid-column: 1/2;
        background-color: $clr1;
        color: #fff;
        border: none;
    }
    .back-to-board-btn {
        grid-row: 2;
        grid-column: 2;
        border: none;
    }
    .add-group-btn {
        margin-inline-start: 15px;
        // padding: 6px 8px;
        width: 250px;
        height: fit-content;
        display: flex;
        align-items: center;
        border-style: none;
        color: $clr2;
        cursor: pointer;
        background-color: transparentize($color: $clr5, $amount: 0.75);
        border-radius: 2px;
        transition: background-color, 0.25s;
        text-shadow: 0 0 0.3px;
        background-color: transparent;
        .plus {
            font-size: 18px;
            padding-right: 5px;
        }
    }
}

.board-title {
    margin-left: 27px;
    font-family: Secular, sans-serif;
    border-style: none;
    background-color: transparent;
    padding: 5px;
    color: white;
    font-size: 20px;
}

.board-preview {
    text-shadow: 1px 1px black;
}
.board-header-star{
    border-radius: 5px;
    margin: auto;
    background-color: rgba(46, 87, 156, 0.25);
    color: white;
    padding: 5px 5px 0px 5px;
    cursor: pointer;
}
.board-header-star:hover{
svg{path{
    fill: yellow;
}}
}
.board-header-starred{
    margin: auto;
    background-color: rgba(46, 87, 156, 0.25);
    color: white;
    padding: 5px 5px 0px 5px;
    cursor: pointer;
svg{path{
    fill: yellow;
}}
}
.board-members{
    position: relative;
    margin: auto;
    top: 6px;
    margin-left: 30px;
    .board-member{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: relative;
        bottom: 10px;
        right: 10px;
        margin-right: 5px;
    }
}