
    .hero{
        text-align: left;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        position: relative;
       height: 90vh;
       background: linear-gradient(rgb(229 229 255),rgba(229, 229, 255, 0.688));
       
       .hero-container{
           width: 50%;
        margin-inline-start: 50px;
    }
    
    .hero-img-container{
        height: 50vh;
    }
    .hero-img{
        height: 100%;
    }
    
    .enter-link{
        width: 200px;
        text-align: center;
        padding: 10px 30px;
        border-radius: 2px;
        background-color: rgb(129, 212, 253);
    }
}