// Logo Font 
@font-face {
    font-family: Secular;
    src: url(../fonts/Secular/SecularOne-Regular.ttf);
}

// Regular Font 
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}